@model IEnumerable<proyecto_inmobiliaria.Dtos.response.PropietarioResponseDTO>

@{
    ViewData["Title"] = "Propietarios";
}

<h1>
    Propietarios
    <div class="btn-group float-right">
        <a class="btn btn-primary" asp-action="Crear" title="Crear">
            <i class="fa-solid fa-plus"></i> Crear
        </a>
    </div>
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>IdPropietario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var propietario in Model)
        {
            <tr>
                <td>@propietario.IdPropietario</td>
                <td>@propietario.Nombre</td>
                <td>@propietario.Apellido</td>
                <td>@propietario.Documento</td>
                <td>@propietario.Telefono</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" asp-action="Modificar" asp-route-IdPropietario="@propietario.IdPropietario" title="Editar">
                            <i class="fa-solid fa-pen"></i> Editar
                        </a>

                        <form asp-action="Eliminar" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@propietario.IdPropietario" />
                            <button type="submit" class="btn btn-danger" title="Eliminar"
                                    onclick="return confirm('¿Seguro que querés eliminar de forma PERMANENTE este propietario?');">
                                <i class="fa-solid fa-trash-can"></i> Eliminar
                            </button>
                        </form>

                        <a class="btn btn-warning" asp-action="Detalles" asp-route-IdPropietario="@propietario.IdPropietario" title="Ver detalles">
                            <i class="fa-solid fa-eye"></i> Detalles
                        </a>

                        <a class="btn btn-secondary" 
                            asp-controller="Inmueble" 
                            asp-action="PorPropietario" 
                            asp-route-IdPropietario="@propietario.IdPropietario" 
                            title="Mis Propiedades">
                            <i class="fa-solid fa-building"></i> Mis propiedades
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
